# Copy this file to .env and fill in real values. Never commit .env.

# Only for Server
DATABASE_URL="file:./dev.db"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Only for Client
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=""
NEXT_PUBLIC_SERVER_URL="http://localhost:3000"
NEXT_PUBLIC_S3_BASE_URL="https://dragon-gate-s3-test.s3.us-east-2.amazonaws.com/"
